header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    color: rgba(47, 141, 70)
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

body {
    margin: 0 50px;
}

.about {
    text-align: center;
    color: black;
}

.about h2{
    font-size: 40px;
}

.about p {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    
}

.GeeksforGeeks img {
    width: 400px;
}

.GeeksforGeeks p {
    text-align: justify;
    font-size: 18px;
    
}

.readmore {
    margin-top: 10px;
    padding: 8px 16px;
}
